@CHARSET "UTF-8";

.sf-form {}
.sf-form-element {
	margin: 0px; padding: 2px 0px;
}
.sf-label {
	display: block;
	float: left;
	padding-top: 3px;
}
.sf-textfield, .sf-textarea {
	border: solid 1px #666;
	padding: 2px;
}
.sf-val-error { border-color: #C33; background-color: #FEE; }