@CHARSET "UTF-8";

.sf-form {}
.sf-form-element { margin: 0px; padding: 2px 0px; }
.sf-label { display: block; float: left; padding: 3px 17px 3px 0px; }
.sf-textfield, .sf-textarea { border: solid 1px #666; padding: 2px; }
.sf-val-error { border-color: #C33; background-color: #FEE; }
label.sf-val-error { border: none; background: white url(images/bg_tiped.gif) no-repeat 0px 4px; padding-left: 17px; padding-right: 0px; }
label.sf-val-error span { border-bottom: dashed 1px #C33; color: #C33; }
.sf-tooltip { position: absolute; display: block; background: #FEE; border: solid 3px #C33; padding: 2px 7px; zindex: 1000; margin: 2px 2px 0 0; }
.sf-tooltip P { margin: 5px 0px; padding: 0; color: #C33; }